@import '../../styles/variables';

// Namespaces
// This stops me from being overzealous with enforcing classes
$grid-namespace: "grid" !default;
$grid-column-namespace: "grid_col" !default;

// $col-groups are the column groups you want
// For example, $col-groups: (3, 4, 5) will output:
// .grid_col--n-of-3, .grid_col--n-of-4, [...]
$col-groups: (2, 3, 4, 5, 6, 8, 12) !default;

// Gutter width
$gutter-width: gux(3) !default;

// Pushes and pulls
$pushes: true !default;
$pulls: true !default;

.#{$grid-namespace} {
  width: 100%;
  margin-left: -$gutter-width;
  list-style: none;
}

%span-all       { width: percentage(1/1); }

%one-half       { width: percentage(1/2); }

%one-third      { width: percentage(1/3); }
%two-thirds     { width: percentage(2/3); }

%one-quarter    { width: percentage(1/4); }
%two-quarters   { width: percentage(2/4); }
%three-quarters { width: percentage(3/4); }

%push-span-all       { margin-left: percentage(1/1); }

%push-one-half       { margin-left: percentage(1/2); }

%push-one-third      { margin-left: percentage(1/3); }
%push-two-thirds     { margin-left: percentage(2/3); }

%push-one-quarter    { margin-left: percentage(1/4); }
%push-two-quarters   { margin-left: percentage(2/4); }
%push-three-quarters { margin-left: percentage(3/4); }

%pull-span-all       { margin-left: -(percentage(1/1)); }

%pull-one-half       { margin-left: -(percentage(1/2)); }

%pull-one-third      { margin-left: -(percentage(1/3)); }
%pull-two-thirds     { margin-left: -(percentage(2/3)); }

%pull-one-quarter    { margin-left: -(percentage(1/4)); }
%pull-two-quarters   { margin-left: -(percentage(2/4)); }
%pull-three-quarters { margin-left: -(percentage(3/4)); }

// For each of our column groups...
@each $group in $col-groups {

  // For each column width from 1 to the column group...
  @for $i from 1 through $group {
    .#{$grid-column-namespace}--#{$i}-of-#{$group} {
      @if percentage($i/$group) == percentage(1/1) {
        @extend %span-all;
      } @else if percentage($i/$group) == percentage(1/2) {
        @extend %one-half;
      } @else if percentage($i/$group) == percentage(1/3) {
        @extend %one-third;
      } @else if percentage($i/$group) == percentage(2/3) {
        @extend %two-thirds;
      } @else if percentage($i/$group) == percentage(1/4) {
        @extend %one-quarter;
      } @else if percentage($i/$group) == percentage(2/4) {
        @extend %two-quarters;
      } @else if percentage($i/$group) == percentage(3/4) {
        @extend %three-quarters;
      } @else {

        width: percentage($i/$group);

      }
    }

    @if ($pushes) {
      .#{$grid-column-namespace}--push-#{$i}-of-#{$group} {
        @if percentage($i/$group) == percentage(1/1) {
          @extend %push-span-all;
        } @else if percentage($i/$group) == percentage(1/2) {
          @extend %push-one-half;
        } @else if percentage($i/$group) == percentage(1/3) {
          @extend %push-one-third;
        } @else if percentage($i/$group) == percentage(2/3) {
          @extend %push-two-thirds;
        } @else if percentage($i/$group) == percentage(1/4) {
          @extend %push-one-quarter;
        } @else if percentage($i/$group) == percentage(2/4) {
          @extend %push-two-quarters;
        } @else if percentage($i/$group) == percentage(3/4) {
          @extend %push-three-quarters;
        } @else {

          margin-left: percentage($i/$group);

        }
      }
    } // end pushes

    @if ($pulls) {
      .#{$grid-column-namespace}--pull-#{$i}-of-#{$group} {

        @if percentage($i/$group) == percentage(1/1) {
          @extend %pull-span-all;
        } @else if percentage($i/$group) == percentage(1/2) {
          @extend %pull-one-half;
        } @else if percentage($i/$group) == percentage(1/3) {
          @extend %pull-one-third;
        } @else if percentage($i/$group) == percentage(2/3) {
          @extend %pull-two-thirds;
        } @else if percentage($i/$group) == percentage(1/4) {
          @extend %pull-one-quarter;
        } @else if percentage($i/$group) == percentage(2/4) {
          @extend %pull-two-quarters;
        } @else if percentage($i/$group) == percentage(3/4) {
          @extend %pull-three-quarters;
        } @else {

          margin-left: -(percentage($i/$group));

        }
      }
    } // end pulls
  } // end @for

} // end @each

// All direct descendents of .grid get treated the same way.
// This might be overkill for some, but it's a time-saver for me.
.#{$grid-column-namespace} {
  box-sizing: border-box;
  display: inline-block;
  //margin-right: -.25em;
  min-height: 1px;
  margin-bottom: $gutter-width;
  padding-left: $gutter-width;
  vertical-align: top;

  @media (max-width: $screen--small) {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  @media (max-width: $screen--small) and (min-width: $screen--mobile) {
    &[class*="#{$grid-column-namespace}--small-"] {
      display: inline-block;
      //margin-right: -.24em;
    }

    &.#{$grid-column-namespace}--small-1-of-2 {
      width: percentage(1/2);
    }

    &.#{$grid-column-namespace}--small-1-of-3 {
      width: percentage(1/3);
    }

    &.#{$grid-column-namespace}--small-2-of-3 {
      width: percentage(2/3);
    }

    &.#{$grid-column-namespace}--small-1-of-4 {
      width: percentage(1/4);
    }

    &.#{$grid-column-namespace}--small-2-of-4 {
      @extend .#{$grid-column-namespace}--small-1-of-2;
    }

    &.#{$grid-column-namespace}--small-3-of-4 {
      width: percentage(3/4);
    }
  }

  @media (max-width: $screen--mobile) {
    &[class*="#{$grid-column-namespace}--mobile-"] {
      display: inline-block;
      //margin-right: -.24em;
    }

    &.#{$grid-column-namespace}--mobile-1-of-2 {
      width: percentage(1/2);
    }

    &.#{$grid-column-namespace}--mobile-1-of-3 {
      width: percentage(1/3);
    }

    &.#{$grid-column-namespace}--mobile-2-of-3 {
      width: percentage(2/3);
    }

    &.#{$grid-column-namespace}--mobile-1-of-4 {
      width: percentage(1/4);
    }

    &.#{$grid-column-namespace}--mobile-2-of-4 {
      @extend .#{$grid-column-namespace}--mobile-1-of-2;
    }

    &.#{$grid-column-namespace}--mobile-3-of-4 {
      width: percentage(3/4);
    }
  }
}

// Centers the column in the grid and clears the row of all other columns
.#{$grid-column-namespace}--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


// Displays the column as the first in its row
.#{$grid-column-namespace}--first {
  float: left;
}

// Displays the column as the last in its row
.#{$grid-column-namespace}--last {
  float: right;
}

// Removes gutters from the columns
.#{$grid-namespace}--no-gutter {
  margin-left: 0;
  width: 100%;

  .#{$grid-column-namespace} {
    padding-left: 0;
  }

  .#{$grid-column-namespace}--span-all {
    margin-left: 0;
    width: 100%;
  }
}

// Align column to the bottom.
.#{$grid-column-namespace}--vertically-bottom {
  vertical-align: bottom;
}

// Align column to the middle.
.#{$grid-column-namespace}--vertically-middle {
  vertical-align: middle;
}