.portal {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  z-index: 55; }

.portal, .portal_mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.portal_mask {
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 50; }

.portal_content {
  position: relative;
  z-index: 55; }

.portal--enter {
  opacity: 0; }

.portal--enter-active {
  opacity: 1;
  transition-property: opacity; }

.portal--exit {
  opacity: 1; }

.portal--exit-active {
  opacity: 0;
  transition-property: opacity; }

.portal--fast-speed {
  transition-duration: 0.15s; }

.portal--slow-speed {
  transition-duration: 0.6s; }
