@import '../../styles/variables';

.portal {
  transition-duration: $transition-duration--default;
  transition-timing-function: $transition-timing-function--default;
  z-index: $z-index--modal-level-one;

  &, &_mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &_mask {
    background-color: rgba(0, 0, 0, 0.15);
    z-index: $z-index--mask;
  }

  &_content {
    position: relative;
    z-index: $z-index--modal-level-one;
  }

  &--enter {
    opacity: 0;
  }

  &--enter-active {
    opacity: 1;
    transition-property: opacity;
  }

  &--exit {
    opacity: 1;
  }

  &--exit-active {
    opacity: 0;
    transition-property: opacity;
  }

  &--fast-speed {
    transition-duration: $transition-duration--fast;
  }

  &--slow-speed {
    transition-duration: $transition-duration--slow;
  }
}