@import '../../styles/variables';

.layout {
  display: flex;
  background-color: white;

  &--auto {
    height: auto;
  }

  &--comfy {
    height: 100%;
    max-height: 40vh;
  }

  &--fill {
    height: 100%;
  }

  &--column-direction {
    flex-direction: column;
  }

  &--justify {
    &-flex-start {
      justify-content: flex-start;
    }

    &-center {
      justify-content: center;
    }

    &-space-between {
      justify-content: space-between;
    }

    &-space-around {
      justify-content: space-around;
    }

    &-flex-end {
      justify-content: flex-end;
    }
  }

  &--align {
    &-flex-start {
      align-items: flex-start;
    }

    &-center {
      align-items: center;
    }

    &-stretched {
      align-items: stretch;
    }

    &-flex-end {
      align-items: flex-end;
    }
  }

  &--light {
    background: $off-white;
  }

  &--dark {
    background: $dark-slate;
  }

  &--black {
    background: black;
  }
}