@import '../../styles/variables';

.layout {
  display: flex;
  background-color: white;

  &--auto {
    height: auto;
  }

  &--comfy {
    height: 100%;
    max-height: 40vh;
  }

  &--fill {
    height: 100%;
  }

  &--horizontally {
    &-left {
      justify-content: flex-start;
    }

    &-center {
      justify-content: center;
    }

    &-right {
      justify-content: flex-end;
    }
  }

  &--vertically {
    &-top {
      align-items: flex-start;
    }

    &-center {
      align-items: center;
    }

    &-bottom {
      align-items: flex-end;
    }
  }

  &--light {
    background: $off-white;
  }

  &--dark {
    background: $dark-slate;
  }

  &--black {
    background: black;
  }
}