@import '../../../styles/variables';

.radio-group {
  width: 100%;

  &_label {
    line-height: gux(2);
    margin-bottom: gux(0.5)
  }

  &--vertical {
    .radio-button {
      margin-bottom: gux(1.5);
    }
  }
}