@import '../../../styles/variables';

@mixin radioButtonTheme($text-Color, $background--base, $background--checked) {
  .radio-button_label {
    color: $text-Color;

    &:before, &:after {
      background-color: $background--base;
    }
  }

  &.radio-button--checked {
    .radio-button_label:before, .radio-button_label:after {
      background-color: $background--checked;
    }
  }
}

.radio-button {
  @include radioButtonTheme($slate, $light-slate, $envy);

  &_label {
    display: inline-block;
    line-height: gux(5);
    user-select: none;
    white-space: nowrap;

    &:before, &:after {
      content: '';
      display: inline-block;
      width: gux(2);
      height: gux(2);
      border-radius: $border-radius--circle;
      vertical-align: text-bottom;
      transition: background-color $transition-duration--default $transition-timing-function--default;
      cursor: pointer;
    }

    &--right {
      &:before {
        margin-right: gux();
      }

      &:after {
        display: none;
      }
    }

    &--left {
      &:before {
        display: none;
      }

      &:after {
        margin-left: gux();
      }
    }
  }

  &_input {
    display: none;
  }

  &--inline {
    display: inline-block;

    &:not(:first-child) {
      margin-left: gux(2);
    }
  }

  &--radio-only & {
    &_label:before, &_label:after {
      margin: 0;
    }
  }

  &--aligned {
    margin-top: gux(2.5);
  }

  &--custom-color {
    &.radio-button--checked .radio-button_label {
      &:before, &:after {
        color: inherit;
        background-color: currentColor;
      }
    }
  }

  &--small {
    .radio-button {
      &_label {
        line-height: gux(4);

        &:before, &:after {
          width: gux(1.5);
          height: gux(1.5);
        }

        &--right {
          &:before {
            margin-right: gux(0.5);
          }
        }

        &--left {
          &:after {
            margin-left: gux(0.5);
          }
        }
      }
    }
  }

  &--large {
    .radio-button {
      &_label {
        line-height: gux(6);

        &:before, &:after {
          width: gux(2.5);
          height: gux(2.5);
        }

        &--right {
          &:before {
            margin-right: gux(1.5);
          }
        }

        &--left {
          &:after {
            margin-left: gux(1.5);
          }
        }
      }
    }
  }

  &--disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}