.radio-button .radio-button_label {
  color: #262626; }

.radio-button .radio-button_label:before, .radio-button .radio-button_label:after {
  background-color: #E6E6E6; }

.radio-button.radio-button--checked .radio-button_label:before, .radio-button.radio-button--checked .radio-button_label:after {
  background-color: #e50c3a; }

.radio-button_label {
  display: inline-block;
  line-height: 40px;
  user-select: none;
  white-space: nowrap; }

.radio-button_label:before, .radio-button_label:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  vertical-align: text-bottom;
  transition: background-color 0.3s ease;
  cursor: pointer; }

.radio-button_label--right:before {
  margin-right: 8px; }

.radio-button_label--right:after {
  display: none; }

.radio-button_label--left:before {
  display: none; }

.radio-button_label--left:after {
  margin-left: 8px; }

.radio-button_input {
  display: none; }

.radio-button--inline {
  display: inline-block; }

.radio-button--inline:not(:first-child) {
  margin-left: 16px; }

.radio-button--radio-only .radio-button_label:before, .radio-button--radio-only .radio-button_label:after {
  margin: 0; }

.radio-button--aligned {
  margin-top: 20px; }

.radio-button--custom-color.radio-button--checked .radio-button_label:before, .radio-button--custom-color.radio-button--checked .radio-button_label:after {
  color: inherit;
  background-color: currentColor; }

.radio-button--small .radio-button_label {
  line-height: 32px; }

.radio-button--small .radio-button_label:before, .radio-button--small .radio-button_label:after {
  width: 12px;
  height: 12px; }

.radio-button--small .radio-button_label--right:before {
  margin-right: 4px; }

.radio-button--small .radio-button_label--left:after {
  margin-left: 4px; }

.radio-button--large .radio-button_label {
  line-height: 48px; }

.radio-button--large .radio-button_label:before, .radio-button--large .radio-button_label:after {
  width: 20px;
  height: 20px; }

.radio-button--large .radio-button_label--right:before {
  margin-right: 12px; }

.radio-button--large .radio-button_label--left:after {
  margin-left: 12px; }

.radio-button--disabled {
  opacity: 0.3;
  pointer-events: none; }
